<app-header></app-header>
<div id="priceList-slider">
    <h2>Price List</h2>
      <div id="slider">
        <h2>OUR WORK</h2>
        <div id="slider-conteiner">
              <carousel>
                <slide>
                  <img src="assets/images/price.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                  <img src="assets/images/price.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                  <img src="assets/images/price.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
              </carousel>
        </div>
    </div>
</div>
<app-form></app-form>
<app-footer></app-footer>
