html body {
    background-color: #222021;
    background-image: url(assets/images/body-bg.png);
}
*{
    padding: 0;
    margin: 0;
    height: auto;
    list-style: none;
    transition: 0.5s;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
    color: #F5F5F5;
}
h2:hover {
    text-shadow: 2px 2px 8px white;
}
