<footer>
    <div id="footer-cont">
        <div>
            <a routerLink="/home">
                <img src="assets/images/logo.png" alt="BIO-CWT">
            </a>
        </div>
        <div>
            <img src="assets/images/tel.png" alt="PHONE-">
            <a href="+420 000 000 000">+420 000 000 000</a>
        </div>
        <div>
            <img src="assets/images/Vector.png" alt="">
            <span>Na Plzeňce 1166/0 150 00</span>
        </div>
    </div>
    <div>
        <p>Privacy Policy</p>
    </div>
</footer>
