<app-header></app-header>
<div id="conteinerlogin">
    <form method="post" [formGroup]="Form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input"  name="password" id="password">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button [disabled]="Form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<app-footer></app-footer>