<div id="aboutUs">
    <div id="AU-text">
        <h2>{{this.date[0].title}}</h2>
        <p><b>BIO CWT</b>  - {{this.date[0].text}}</p>
    </div>
    <div id="AU-img">
        <div id="AU-img1" class="AUimg">
            <img src="{{this.date[0].images[0]}}" alt="About US">
        </div>
        <div id="AU-img2">
            <img id="ab-us" src="{{this.date[0].images[1]}}" alt="About US">
        </div>
        <div id="AU-img1">
            <img src="{{this.date[0].images[2]}}" alt="About US">
        </div>
    </div>
</div>
