#aboutUs {
    width: 90%;
    background-color: #1E0C06;
    padding: 20px;
    border-radius: 0px 42px 42px 0px;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
#AU-text {
    color: white;
    width: 40%;
    margin-left: 12%;
}
#AU-text  h2 {
    font-family: 'KyivType Sans Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    color: #F5F5F5;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#AU-text  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 139.4%;
    color: #F5F5F5;
}
#ab-us {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 80px;
    margin-left: 70px;
    border: 15px solid #1E0C06;
    border-radius: 60px;
}
#AU-img {
    width: 40%;
    position: relative;
}
#AU-img1 {
    text-align: right; 
}
.AUimg {
    margin-bottom: 250px;
}
@media screen and (max-width: 1200px) {	
    #AU-text {
        margin-left: 2%;
    }
}
@media screen and (max-width: 992px) {
    #ab-us {
        display: none;
    }
    #aboutUs {
        width: 100%;
    }
    #AU-text {
        margin-left: 1%;
    }
    #AU-text {
        width: auto;
        margin-bottom: 20px;
    }
    #AU-img {
        width: auto;
    } 
    #AU-img div {
        margin: 10px;
    }
}
@media screen and (max-width: 768px) {
    * {
        flex-wrap: wrap;
        justify-content: center;
    }
    #AU-text h2 {
        font-size: 70px;
    }
    #AU-img div {
        margin: 0px;
    }
    #AU-img img {
        width: 90%;
        margin: 5px;
    }
}