<!-- <div id="kinds">
    <h2>
        THE WOOD WE<br> WORK WITH
    </h2>
    <div id="kinds-conteiner">
        <div *ngFor="let item of date;">
            <div>
                <img src="{{item.image}}" alt="image"><br>
                <p style="font-size: 20px;">{{item.title}}</p>
            </div>
            <div id="kinds-info">
                <p *ngFor="let info of item.category">
                    <img src="{{info.icon}}" alt="true">
                    {{info.name}}
                </p>
            </div>
        </div>
    </div>
</div> -->
